In [1]:
import pandas as pd
import numpy as np

In [3]:
dataFrame = pd.read_excel("salary.xlsx")

In [4]:
dataFrame

  Unnamed: 0  Salary   Age Department
0       Alan     100  24.0   Software
1      Amber     120  52.0       Sale
2     Johnny     100  23.0        NaN
3      Jayce     200   NaN         HR
4       Kris     240  23.0    Finance
5      Kayle     190  54.0        Law

In [13]:
newDataFrame = dataFrame.dropna()

In [14]:
newDataFrame.to_excel("NewSalary.xlsx")

In [15]:
## CSV
## read_csv
## to_csv